/home/kitzmann/Code/VULCAN/neoVULCAN_docs/neoVULCAN/docs_src/_build/*
/home/kitzmann/Code/VULCAN/neoVULCAN_docs/neoVULCAN/docs_src/_static/*
/home/kitzmann/Code/VULCAN/neoVULCAN_docs/neoVULCAN/docs_src/_templates/*
docs_test/*
.DS_Store
